.commentWrap {
  position: absolute;
  right: 50px;
  top: 90px;
  width: 400px;
  height: fit-content;
  max-height: 350px;
  background: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.commentHeading {
  padding: 8px;
  align-self: center;
}

.commentList {
  list-style: none;
  height: 80%;
  padding: 15px 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}
.commentItem {
  background-color: var(--light-grey);
  border-radius: 12px;
  padding: 10px 15px;
  width: fit-content;
  max-width: 85%;
  font-size: var(--font-xxsmall);
}

.myCommentItem {
  background-color: var(--light-purple);
  align-self: flex-end;
}

.commentForm {
  display: flex;
  justify-content: space-evenly;
}

.commentForm input {
  width: 320px;
  padding: 15px;
  outline: none;
  background: var(--lighter-grey);
  border:none;
  border-radius: 30px;
}

.commentForm button  {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: var(--light-purple);
  color: var(--purple);
}
